@import "tailwindcss";
@import 'material-symbols';

.icon{
    @apply flex items-center justify-center font-bold leading-tight;
}
.childFull>*{
    @apply w-full p-1
}
.hov:hover{
    @apply cursor-pointer bg-[rgba(219,234,254,1)];
}
.hov:active{
    @apply text-blue-700 font-bold ;
}
input:active,input:focus{
    outline:none;
    @apply border-2
}
.input-base {
    @apply border w-full rounded px-1 py-0.5;
}

.hov{
    @apply rounded-lg;
}
.bg-primary{
    @apply bg-[var(--bg-primary)];
}
.bg-secondary{
    @apply bg-[var(--bg-secondary)];
}
.bg-button{
    @apply bg-linear-to-b bg-blue-600 via-blue-600 to-blue-900 ;
}
.bg-opacity{
    @apply bg-[rgba(225,225,225,.3)];
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
    border:2px solid green;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    height:100dvh;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    --bg-primary: #fff;
    --bg-secondary: #f3f5fb;
    --text-primary: #03143d;
    --text-secondary: #fff;
}
*,*::before,*::after{
    box-sizing: border-box;
}
/* Target the scrollbar */
::-webkit-scrollbar {
    width: 10px;              /* thickness */
    height: 10px;             /* for horizontal scroll */
}

/* Track (background) */
::-webkit-scrollbar-track {
    background: transparent;      /* light gray */
    border-radius: 10px;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    @apply bg-blue-300 outline-pink-500;
    border-radius: 5px;
    border: 2px solid #f1f1f1; /* space around thumb */
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
    opacity: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
}
 .material-symbols-rounded {
     font-variation-settings:
             'FILL' 0,
             'wght' 300,
             'GRAD' -5,
             'opsz' 24
 }
#app {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}